@charset "UTF-8";

*{
   margin:0;
   font-family: 'Gamja Flower', cursive;
}
nav{
   position:relative;
   top:150px;
}

.memberUl{
   postion:absolute;
   top:20px;   
}
.topUl{
   top:-40px;
}
a .logo{
   position:absolute;
}

/* 타이틀 */
.top{
   position:absolute;
   top:2%;
   left:15%;
   width:auto;
   text-align:center;
   font-size: 2vw;
   color: #686868; 
}
/*본문*/
.border {
   border-radius: 2em;
   border-top-left-radius: 2em;
   border-top-right-radius: 2em;
   border-bottom-left-radius: 2em;
   border-bottom-right-radius: 2em;
   border: 2px solid tan;
    padding:1%;
    position:relative;
    top : 150px;
    width: 80%;
    left: 9%;
    font-size: 2vw;
}
/*제목*/
.title {
   padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 0.2vw solid tan;
}
.title b { 
    font-size : 3vw; color : #003366;
    position:relative;
    left: 5%;
}

.writer {
    position:relative;
    left: 60%;
}

.date {
    position:relative;
    left: 65%
}
/*내용*/
.content {
   padding: 5%;
}
/*댓글보기/닫기*/
.reply{
   margin-bottom: 5px;
   border-top: 0.2vw solid tan;
   border-bottom: 0.2vw solid tan;
   padding: 3%;
}
.reply b {
 font-size : 2vw; color : #777;
}
.reply img {
   width:3%;
}
.rbox{
   border-bottom: 0.1vw solid #bbbb;
   padding:1%;
}
.rbox span {
   position:absolute;
   left: 80%;
}

/*댓글 올리기*/
.replytextForm {
    border-top: 0.2vw solid #777;
    padding:1%;
}
textarea {
   border:0;
   outline:none;
   resize:none;
   font-size: 2vw;
}

.replytextForm button {
   width:15%;
   font-size: 2vw;
   padding:1%;
   position:relative;
   left: 2%; 
   bottom: 23px;
}

.replytextForm b {
   position:relative;
   left: 35%; 
}

/*댓글수정*/
#upre {
   font-size: 1.5vw;
}
/* .upRe{
   position:absolute;
   width:80%;
     height:20%;
   top:30%;
   left:10%;
     background:tan;
}

.upRe2 {
position:fixed;
top:150px; left:30px;
box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;
z-index : 100;
} */

/*페이지*/
#replyPaging {
   width: 100%;
   position:relative;
   left:45%;
}

#replyPaging li {
   font-size: 2vw;
}


/*button*/
.button {
   padding: 3%; 
}
.button button {
   width:105%;
   font-size: 2vw;
   padding:1%;
}

button{
    background-color: white;
    border: 0.1vw solid gray;
    color: gray;
    text-align: center;
    text-decoration: none;
    outline:none;
}

button:hover{
    background-color: #bbbb;
    color: white
}
/*footer*/
footer{
   padding: 3% 0%;
   position:relative;
   bottom:-200px;
}