@charset "UTF-8";
input, textarea {
    width: 100%;
    border: none;
    outline:none;
    resize:none;
}

.button input{
    background-color: #337ab7;
    border: none;
    color: white;
    width: 10%;
    position:relative;
    left: 40%;
}

.button input:hover{
    background-color: #286090;
}

/*댓글보기/닫기*/
.reply{
   margin-bottom: 5px;
   padding: 3%;
}
.reply b {
 font-size : 2.5vw; color : #777;
}
.reply img {
   width:3%;
}
.rbox{
   border-top: 0.1vw solid #bbbb;
   border-bottom: 0.1vw solid #bbbb;
   padding:1%;
}
.rbox span {
   position:absolute;
   right:6%;
}

.rbox input {
    width: 75%;
}

/*댓글 올리기*/
.replytextForm {
    border-top: 0.2vw solid #777;
    padding:1%;
}
textarea {
   border:0;
   outline:none;
   resize:none;
   font-size: 2vw;
}

.replytextForm button {
   width:15%;
   font-size: 2vw;
   padding:1%;
   position:relative;
   left: 2%; 
   bottom: 23px;
}

.replytextForm b {
   position:relative;
   left: 35%; 
}

/*댓글수정*/
#upre {
   font-size: 1.5vw;
}

/*페이지*/
#replyPaging {
	position:relative;
	left:45%;
}

#replyPaging li {
    list-style:none; 
    margin:1px;
}

/*button*/
button{
    background-color: white;
    border: 0.1vw solid gray;
    color: gray;
    text-align: center;
    text-decoration: none;
    outline:none;
    position:relative;
   left: 80%; 
}

button:hover{
    background-color: #bbbb;
    color: white
}

#imgSave{
    background-color: #337ab7;
    border: none;
    color: white;
    width: 10%;
}

#imgSave:hover{
    background-color: #286090;
}

#imgDel{
    background-color: #337ab7;
    border: none;
    color: white;
    width: 10%;
}

#imgDel:hover{
    background-color: #286090;
}