<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 마이페이지 전용 -->
		<typeAlias alias="myPageInfo"
			type="study.cafe.luna.room.dto.MyPageInfoDTO" />
		<!-- 멤버 -->
		<typeAlias alias="member"
			type="study.cafe.luna.member.dto.MemberDTO" />
		<!-- 룸 정보관련 -->
		<typeAlias alias="roomInfo"
			type="study.cafe.luna.room.dto.RoomInfoDTO" />
		<!-- 룸 이미지 관련 -->
		<typeAlias alias="roomFile"
			type="study.cafe.luna.room.dto.RoomFileDTO" />
		<!-- 룸 예약관련 -->
		<typeAlias alias="roomReserve"
			type="study.cafe.luna.payment.dto.RoomReserveDTO" />
		<!-- 룸 결제 관련 -->
		<typeAlias alias="roomPay"
			type="study.cafe.luna.payment.dto.RoomPaymentDTO" />
		<!-- 룸 랭크 관련 -->
		<typeAlias alias="roomRank"
			type="study.cafe.luna.roomrank.dto.RoomRankDTO" />
		<!-- 룸 리뷰 관련 -->
		<typeAlias alias="roomReview"
			type="study.cafe.luna.room.dto.RoomReviewDTO" />


	</typeAliases>

	<mappers>
		<!-- 회원 관련 -->
		<mapper resource="mapping/member-mapper.xml" />
		<!-- 룸 관련 -->
		<mapper resource="mapping/room-mapper.xml" />
		<!-- 예약/결제 관련 -->
		<mapper resource="mapping/payment-mapper.xml" />
		<!-- 예약관련 -->
		<mapper resource="mapping/review-mapper.xml" />
		<!-- 랭크 관련 -->
		<mapper resource="mapping/rank-mapper.xml" />
	

	</mappers>


</configuration>