<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="luna.admin.board">
   
   <select id="infoList" resultType="member">
      select
      id,pw,name,phone,birth,email,branchName,zipcode,branchaddr1,branchaddr2,brStatus,position
      from member
      <if test="btStatus=0 and brStatus=1"></if>
      where position='지점장'
   </select> 
   
   <update id="approveupdate">
      <![CDATA[update member set brstatus=0 where id=#{id}]]>
   </update>

   <delete id="approvedelete">

      delete from member where id=#{id}
   </delete>  

	<!-- 전체/회원/지점장 메일 보내기 -->
	<select id="AllMail" resultType="String">
			select email from member	
		<if test="type=='alluser'">
			where position is null
		</if>
		<if test="type=='allBranch'">
			where position ='지점장'
		</if>
	</select>
	
	   
</mapper>