<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mgReserveTime">
	<select id="mgAgeList" resultType="ReserveTime">
		 <![CDATA[
		select reservetime from roompayment where reservdate>=#{date1} and reservdate<=#{date2}
		]]> 
	</select>
	
	<select id="getreservcount" resultType="ReserveTime">
	     select reservdate ,count(*)as su from roompayment where reservdate BETWEEN #{date1} and #{date2}
	    group by reservdate order by reservdate asc 
	</select>
	 
</mapper> 
 
