@charset "EUC-KR";
/*메일보내기*/
.mail {
	position:relative;
	left: 65%;
}

/*회원정보 버튼*/
.info-container {
   margin: 0px auto;
}

.infoTap {
   display: flex;
   width: 80%;
   box-sizing: border-box;
   list-style: none;
   position: relative;
   left:9%;
}

.infoTap li {
   display: flex-block;
   width: 100%;
   border: 1px solid #e9e9eb;
   box-sizing: border-box;
   text-align: center;
   padding:1.5%;
}

.infoTap li {
   background-color: #fff;
}

.infoTap li:hover, .infoTap li.active
   {
   background-color: #c0c0c0;
}

.infoTap li:hover a, .infoTap li.active a
   {
   color: #fff;
}

/*선택된아이디*/
.container b{
	position:relative;
	left:5%;
	top: 30px;
}

.cendmBtn{
	border-bottom:2px solid gray;
	width:79%;
	position:relative;
	top:35px;
	left:5%;
	height:auto;
}

.sendmBtn{
	position:relative;
	top:8px;
	right:-85%;
	padding:4px;
}

button{
    background-color: #337ab7;
    border: none;
    color: white;;
    
}

button:hover{
    background-color: #286090;
}

/*유저 게시판*/
table th {
    background-color: #eeeeee;
    text-align: center;
}

.row {
    width:95%;
    position: relative;
    left: 5%;
    top: 15px;
}

/*페이지*/
#memberPaging {
    list-style: none;
	width: 100%;
	font-size: 1.5vw;
	position:relative;
	left:-4%;
}

#memberPaging li {
	float:left; 
    list-style:none; 
    margin:1px;
}
.explur{
	position:absolute;
	border:1px solid black;
	border-radius:10px;
	top:200px;
	left:230px;
}

